html,
body {
  height: 100%;
  margin: 0px;
}

html {
  background: url(../img/web/BackgroundUnicornv2Webp.webp) no-repeat center
    center fixed;
  background-size: cover;
  height: 100%;
  cursor: url(../img/web/pink_unicorn_neon.png), auto;
}

a {
  cursor: url(../img/web/purple_unicorn_neon.png), auto;
  text-decoration: none;
}

body {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0px;
  background-color: #800796;
}
nav > a {
  text-decoration: none;
  font-size: 2rem;
  color: #ff71ce;
  margin: 2px;
  padding: 15px 56px;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  text-shadow: 3px 4px 0 #b967ff;
}

nav > a:hover {
  text-shadow: 1px 2px 0 #b967ff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(58, 5, 72, 0.6);
  width: 65%;
}

.listeProduits {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin-top: 30px;
}

#filtreTitre {
  align-self: start;
  margin: 0px;
  margin-top: 10px;
  margin-left: 30px;
  color: #5cf4c6;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 600;
}

#filtreForm {
  width: 100%;
}

.filtre {
  display: flex;
  flex-direction: row !important;
  justify-content: start;
  align-items: start;
  margin-left: 15px;
}

.liste {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.liste > p {
  margin: 0px;
  margin-top: 10px;
  margin-left: 15px;
  color: #5cf4c6;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
}

.liste > select {
  margin-left: 15px;
  height: 30px;
  cursor: url(../img/web/purple_unicorn_neon.png), auto;
}

#button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

#button > p {
  margin: 0px;
  margin-top: 10px;
  margin-left: 15px;
  color: #5cf4c6;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  text-decoration: underline;
  margin-bottom: 5px;
}

#buttonFiltrer {
  height: 34px;
  width: 100px;
  margin-left: 10px;
  background-color: #b967ff;
  border-radius: 8px;
  border: 2px solid black;
  box-shadow: 6px 6px black;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#buttonFiltrer:hover {
  box-shadow: 2px 2px black;
  cursor: url(../img/web/purple_unicorn_neon.png), auto;
}

.produit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin-bottom: 30px;
  color: #ff71ce;
  cursor: url(../img/web/purple_unicorn_neon.png), auto;
}

.realistic-marker-highlight {
  background-image: url("../img/web/surligne.png");
  background-repeat: repeat-x;
  background-size: 100% 100%;
  background-position: center 75%;
  padding: 0 5px;
  display: inline-block;
}

.description {
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 5px !important;
}

.produit > p {
  margin: 0px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #800796;
  color: #ff71ce;
  width: 100%;
}
